.page{
    width: 100%;
    height: 100%;
    position: absolute;
}
.top-tags{
    bottom: auto;
    top: 35px;
}
.bottom-tags{
    top: auto;
    bottom: 35px;
}
.tags{
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    left: 120px;
    font-size: 18px;
    font-family: 'La belle aurore';
}
.bottom-tag-html{
    top:auto;
    left: 120px;
    margin-left: -20px;
    bottom: 10px;
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    font-size: 18px;
    font-family: 'La belle aurore';
}
.container{
    width:100%;
    will-change: contents;
    height: 90%;
    min-width: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
z-index: 1;
margin: 0 auto;
transform-style: preserve-3d;
animation: fadeIn 1s forwards;
animation-delay: 1s;


}